@tailwind base;
@tailwind components;
@tailwind utilities;

/*Variáveis CSS*/
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  width: 100vw;
  height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: #FCEFCF;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Estilizando os sliders personalizados do config.tsx */
.custom-slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: linear-gradient(to right, #9E9E9E, #9E9E9E); /* Cor de fundo em escala de cinza */
  outline: none;
  border-radius: 10px;
  transition: background 0.2s;
  cursor: pointer;
}

.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #F2BE5C; /* Cor amarelada para a bola que muda o valor */
  border-radius: 50%;
  cursor: pointer;
}


/* Pagina de configurações */
/* Estilizando os botões de ligar e desligar */

/* Estilos para o contêiner do botão deslizante */
.slider {
  position: relative;
  display: inline-block;
  width: 60px; /* Largura do botão deslizante */
  height: 34px; /* Altura do botão deslizante */
}

/* Estilos para o botão deslizante em si */
.slider input {
  display: none; /* Esconde a caixa de seleção padrão */
}

/* Estilos para o controle deslizante (a parte que você pode deslizar) */
.slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; /* Cor de fundo quando desligado */
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px; /* Forma do botão deslizante */
}

/* Estilos para o botão deslizante quando está ativo (ligado) */
.slider input:checked + .slider-round {
  background-color: #2196F3; /* Cor de fundo quando ligado */
}

/* Estilos para o círculo (knob) do botão deslizante */
.slider-round:before {
  position: absolute;
  content: "";
  height: 26px; /* Tamanho do círculo (knob) */
  width: 26px; /* Tamanho do círculo (knob) */
  left: 4px; /* Posição do círculo quando desligado */
  bottom: 4px; /* Posição do círculo quando desligado */
  background-color: white; /* Cor do círculo (knob) */
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%; /* Forma do círculo (knob) */
}

/* Estilos para o círculo (knob) quando o botão está ligado */
.slider input:checked + .slider-round:before {
  -webkit-transform: translateX(26px); /* Move o círculo (knob) para a direita quando ligado */
  transform: translateX(26px); /* Move o círculo (knob) para a direita quando ligado */
}
